{erl_opts, [debug_info]}.
{deps, []}.

{plugins, [
    {rebar3_docker, {git, "https://github.com/stritzinger/rebar3_docker.git",
                     {tag, "0.1.0"}}}
]}.

{docker, [
    {ports, [{5600, tcp}]},
    {env, [
        {'COOKIE', "dummy"},
        {'LOGGER_LEVEL', debug}
    ]}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [protohackers]}]}.

{relx, [{release, {release3, {git, long}},
         [protohackers]},
        {sys_config, "./config/sys.config"},
	{include_src, false},
	{include_erts, true}
        ]}.