[{kernel,
  [{logger_level, all},
   {logger,
    [{handler, default, logger_std_h,
     #{level => error}},
     {handler, debug, logger_std_h,
      #{formatter => {logger_formatter,
         #{ template => [time," ", file,":",line," ",pid, " ",level,": ",msg,"\n"]}},
      config => #{ file => "/tmp/protohackers.log"}}}]}]}].
